{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row justify-content-center">

    <div class="row bg-white p-5 shadow rounded">
        <header class="text-center pb-5">
            <h1 class="h2">Your Tasks!</h1>
        </header>

        <div class="col-sm">
            <h6 class="h6">Backlog</h6>

            {% for task in backlog_tasks%}
            <div class="card border-dark mb-3">
                <div class="card-body text-dark">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">{{task.description}}</p>
                    <a href="#" class="card-link"><i class="fa fa-trash-o"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-pencil-square-o"></i></a>
                </div>
            </div>
            {% endfor %}


        </div>
        <div class="col-sm">
            <h6 class="h6">Todo</h6>

            {% for task in todo_tasks%}
            <div class="card border-dark mb-3">
                <div class="card-body text-dark">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">{{task.description}}</p>
                    <a href="#" class="card-link"><i class="fa fa-trash-o"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-pencil-square-o"></i></a>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="col-sm">
            <h6 class="h6">In Progress</h6>

            {% for task in in_progress_tasks%}
            <div class="card border-dark mb-3">
                <div class="card-body text-dark">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">{{task.description}}</p>
                    <a href="#" class="card-link"><i class="fa fa-trash-o"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-pencil-square-o"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-sm">
            <h6 class="h6">Done</h6>

            {% for task in done_tasks%}
            <div class="card border-dark mb-3">
                <div class="card-body text-dark">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">{{task.description}}</p>
                    <a href="#" class="card-link"><i class="fa fa-trash-o"></i></a>
                    <a href="#" class="card-link"><i class="fa fa-pencil-square-o"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

    <div class="text-center py-2">
        <small>
            <a href="aymaneMx.com" class="text-muted">aymaneMx©</a>
        </small>
    </div>

</div>
{% endblock %}